In [1]:
%matplotlib inline
 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
medical = pd.read_csv('./data/Medicare_Hospital_Spending_by_Claim (1).csv')
medical.tail(3)

,Hospital Name,Provider Number,State,Period,Claim Type,Avg Spending Per Episode (Hospital),Avg Spending Per Episode (State),Avg Spending Per Episode (Nation),Percent of Spending (Hospital),Percent of Spending (State),Percent of Spending (Nation),Measure Start Date,Measure End Date
70595,RESOLUTE HEALTH HOSPITAL,670098,TX,1 through 30 days After Discharge from Index H...,Durable Medical Equipment,$61,$114,$101,0.35%,0.53%,0.5%,01/01/2014,12/31/2014
70596,RESOLUTE HEALTH HOSPITAL,670098,TX,1 through 30 days After Discharge from Index H...,Carrier,$1168,$1231,$1083,6.65%,5.73%,5.41%,01/01/2014,12/31/2014
70597,RESOLUTE HEALTH HOSPITAL,670098,TX,Complete Episode,Total,$17568,$21484,$20025,100%,100%,100%,01/01/2014,12/31/2014

In [3]:
# Question 1
medical = medical.drop(['Measure Start Date', 'Measure End Date'], axis = 1)
medical.tail(3)

,Hospital Name,Provider Number,State,Period,Claim Type,Avg Spending Per Episode (Hospital),Avg Spending Per Episode (State),Avg Spending Per Episode (Nation),Percent of Spending (Hospital),Percent of Spending (State),Percent of Spending (Nation)
70595,RESOLUTE HEALTH HOSPITAL,670098,TX,1 through 30 days After Discharge from Index H...,Durable Medical Equipment,$61,$114,$101,0.35%,0.53%,0.5%
70596,RESOLUTE HEALTH HOSPITAL,670098,TX,1 through 30 days After Discharge from Index H...,Carrier,$1168,$1231,$1083,6.65%,5.73%,5.41%
70597,RESOLUTE HEALTH HOSPITAL,670098,TX,Complete Episode,Total,$17568,$21484,$20025,100%,100%,100%

In [4]:
# Question 2
medical.columns = ['Hospital', 'Provider ID', 'State', 'Period', 'Claim Type', 'Avg Spending Hospital', 'Avg Spending State', 'Avg Spending Nation', 'Percent Spending Hospital', 'Percent Spending State', 'Percent Spending Nation']
medical.tail(3)

,Hospital,Provider ID,State,Period,Claim Type,Avg Spending Hospital,Avg Spending State,Avg Spending Nation,Percent Spending Hospital,Percent Spending State,Percent Spending Nation
70595,RESOLUTE HEALTH HOSPITAL,670098,TX,1 through 30 days After Discharge from Index H...,Durable Medical Equipment,$61,$114,$101,0.35%,0.53%,0.5%
70596,RESOLUTE HEALTH HOSPITAL,670098,TX,1 through 30 days After Discharge from Index H...,Carrier,$1168,$1231,$1083,6.65%,5.73%,5.41%
70597,RESOLUTE HEALTH HOSPITAL,670098,TX,Complete Episode,Total,$17568,$21484,$20025,100%,100%,100%

In [5]:
# Question 3
medical2 = medical[medical['State'] == 'TX']
medical2.head(3)

,Hospital,Provider ID,State,Period,Claim Type,Avg Spending Hospital,Avg Spending State,Avg Spending Nation,Percent Spending Hospital,Percent Spending State,Percent Spending Nation
58322,PROVIDENCE MEMORIAL HOSPITAL,450002,TX,1 to 3 days Prior to Index Hospital Admission,Home Health Agency,$52,$23,$13,0.27%,0.11%,0.07%
58323,PROVIDENCE MEMORIAL HOSPITAL,450002,TX,1 to 3 days Prior to Index Hospital Admission,Hospice,$0,$1,$1,0%,0.01%,0%
58324,PROVIDENCE MEMORIAL HOSPITAL,450002,TX,1 to 3 days Prior to Index Hospital Admission,Inpatient,$2,$5,$5,0.01%,0.02%,0.03%

In [6]:
medical2.dtypes

Hospital                     object
Provider ID                   int64
State                        object
Period                       object
Claim Type                   object
Avg Spending Hospital        object
Avg Spending State           object
Avg Spending Nation          object
Percent Spending Hospital    object
Percent Spending State       object
Percent Spending Nation      object
dtype: object

In [16]:
medical2[['Percent Spending Hospital', 'Percent Spending State', 'Percent Spending Nation']] = medical2[['Percent Spending Hospital', 'Percent Spending State', 'Percent Spending Nation'
                    ]].replace('%','',regex=True).astype(float)
medical2[['Avg Spending Hospital', 'Avg Spending State', 'Avg Spending Nation']] = medical2[['Avg Spending Hospital', 'Avg Spending State', 'Avg Spending Nation'
                      ]].replace('\$','',regex = True).astype(float)

In [10]:
medical2.dtypes

Hospital                      object
Provider ID                    int64
State                         object
Period                        object
Claim Type                    object
Avg Spending Hospital        float64
Avg Spending State           float64
Avg Spending Nation          float64
Percent Spending Hospital    float64
Percent Spending State       float64
Percent Spending Nation      float64
dtype: object

In [15]:
# Question 4
medical2[['Avg Spending Hospital','Hospital','Claim Type']].groupby(["Claim Type",'Hospital']).mean()

                                                        Avg Spending Hospital
Claim Type Hospital
Carrier    ABILENE REGIONAL MEDICAL CENTER                         988.666667
           ANSON GENERAL HOSPITAL                                  341.000000
           ARISE AUSTIN MEDICAL CENTER                            1105.666667
           BAPTIST BEAUMONT HOSPITAL                               935.666667
           BAPTIST EMERGENCY HOSPITAL                              468.333333
...                                                                       ...
Total      WILLIAM P. CLEMENTS JR. UNIVERSITY HOSPITAL           21371.000000
           WILSON N. JONES REGIONAL MEDICAL CENTER               21467.000000
           WISE REGIONAL HEALTH SYSTEM                           22756.000000
           WOMANS HOSPITAL OF TEXAS,THE                          10803.000000
           WOODLAND HEIGHTS MEDICAL CENTER                       18199.000000

[2352 rows x 1 columns]

In [13]:
#Question 5
medical2[['Percent Spending Hospital','Hospital','Claim Type']].groupby(["Claim Type",'Hospital']).agg(['max', 'mean'])

                                                       Percent Spending Hospital  \
                                                                             max
Claim Type Hospital
Carrier    ABILENE REGIONAL MEDICAL CENTER                                  7.12
           ANSON GENERAL HOSPITAL                                           4.77
           ARISE AUSTIN MEDICAL CENTER                                     10.45
           BAPTIST BEAUMONT HOSPITAL                                        5.83
           BAPTIST EMERGENCY HOSPITAL                                       9.76
...                                                                          ...
Total      WILLIAM P. CLEMENTS JR. UNIVERSITY HOSPITAL                    100.00
           WILSON N. JONES REGIONAL MEDICAL CENTER                        100.00
           WISE REGIONAL HEALTH SYSTEM                                    100.00
           WOMANS HOSPITAL OF TEXAS,THE                                   100.00
           WOODLAND HEIGHTS MEDICAL CENTER                                100.00


                                                              mean
Claim Type Hospital
Carrier    ABILENE REGIONAL MEDICAL CENTER                4.750000
           ANSON GENERAL HOSPITAL                         2.960000
           ARISE AUSTIN MEDICAL CENTER                    5.576667
           BAPTIST BEAUMONT HOSPITAL                      4.763333
           BAPTIST EMERGENCY HOSPITAL                     5.796667
...                                                            ...
Total      WILLIAM P. CLEMENTS JR. UNIVERSITY HOSPITAL  100.000000
           WILSON N. JONES REGIONAL MEDICAL CENTER      100.000000
           WISE REGIONAL HEALTH SYSTEM                  100.000000
           WOMANS HOSPITAL OF TEXAS,THE                 100.000000
           WOODLAND HEIGHTS MEDICAL CENTER              100.000000

[2352 rows x 2 columns]

In [ ]:
# Question 6
# An analytical model is meant to predict or explain the behaviour of something
# An analytical model is something that takes in an input processes it and provides an output

In [ ]:
# Question 7
# In a supervised learning the features are accompanied by labels to categorize data
# In unsupervised learning the features are not accompanied by labels and categories need to be defined

In [ ]:
# Question 8
# Classification uses predefined labels in which objects are assigned
# Clustering uses the similarities between objects to group accordingly

In [ ]:
# Question 9
# The reason it is called Ordinary Least Squares is because the 
# regression minimizes the sum of the squares between the observed and predicted values 
# of the dependent variable to estimate their relationship compared to other regression models
# It does this by using a line of best fit that minimizes the sum of squares

In [ ]:
# Question 10
# 1. UNderstand that the data comes from people, and can do potential harm when analysed the wrong way
# 2. Prepare for possible privacy breaches to minimize harm
# 3. Identify possible vectors of reidentification in your data.
# 4. Share data as specified in research protocols, but proactively address concerns of potential harm 
# 5. Understand the development of your data, and that their may be multiple interpretations
# 6. Engage colleagues and discuss difficult ethical decisions
# 7. ESTABLISH CODES OF CONDUCT
# 8. Prepare for audits and design you data and model accordingly
# 9. Keep in mind the societal outcomes of your data and how it may affect others
# 10.Understand the bigger picture and importance of your data in a greater context